
body {
    background-color: peachpuff;
}

header {
    height: 160px;
    background-color: rgb(255,128,0);
}

.header-logo {
    height: 144px;
}

.main-img {
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.restaurant-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.ratings {
    height: 64px;
    font-weight: 800;
}

.menu-bar {
    background-color: rgba(255, 128, 0, 0.829);
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content_wrapper {
    display: flex;
}

.content {
    width: calc(100% - 300px);
    padding: 16px;
}

.basket_wrapper {
    width: 300px;
    flex-grow: 1;
    padding: 16px;
}

.basket {
    width: 100%;
    height: 480px;
    background-color:  white;
    position: sticky;
    top: 32px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}