
.dish-card {
    background-color: rgb(231, 229, 229); 
    display: flex;
    justify-content: space-between;
    height: 160px;
    padding: 32px;
    margin: 24px;
    border-radius: 8px;
}

.add-button {
    font-size: 32px;  
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 128, 0, 0.829);  
}

.order-button {
    height: 32px;
    width: 120px;
    background: #ff8000;
    border: none;
    cursor: pointer;
}

.dish-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
}

.item-quantity {
    display: flex;
}

.content-img {
    object-fit: cover;
    height: 320px;
    width: 100%;
}
