
.dish-card {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    height: 160px;
    padding: 32px;
    margin: 24px;
    border-radius: 8px;
}

.add-button {
    font-size: 32px;  
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    color: white;
    border: none;
    cursor: pointer;
}

.dish-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
}

.dish-card:nth-child(odd) {
    background-color: rgba(255, 128, 0, 0.829);  
}
.dish-card:nth-child(odd) .add-button {
    background-color: rgb(243, 240, 240);  
}
.dish-card:nth-child(even) {
    background-color: rgb(243, 240, 240);  
}

.dish-card:nth-child(even) .add-button {
    background-color:  rgba(255, 128, 0, 0.829);  
}